<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    <div class="container-fluid" id="app">
        <div class="row pt-3">
            <div class="col-10 mx-auto" id="alert-packaging"></div>
        </div>
        <div class="row p-5">
            <div class="col-md-4">
                <h3 class="text-center">Packaging</h3>
                <div class="form-group">
                    <label for="nombrePack">Nombre</label>
                    <input type="text" class="form-control text-uppercase" id="nombrePack" placeholder="Ingrese nombre" v-model="pack.nombre">
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-6">
                            <label for="stockPack">Stock</label>
                            <input type="number" step="1" min="0" class="form-control text-uppercase" id="stockPack" placeholder="stock" v-model.number="pack.stock">
                        </div>
                        <div class="col-6">
                            <label for="costoPack">Costo Unitario</label>
                            <input type="number" step="0.01" min="0" class="form-control text-uppercase" id="costoPack" placeholder="costo" v-model.number="pack.precioUnitario">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="imgPack">Imágen Packaging</label>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="imgPack" @change="fileSelected">
                        <label class="custom-file-label" for="imgPack">Seleccionar imágen</label>
                    </div>
                    <img src="img/no-preview-available.png" id="imgPreview" class="img-fluid mx-auto d-block pt-2" alt="Image preview...">
                </div>
                <div class="form-group">
                    <button class="btn btn-success btn-block" @click="addPack">Guardar</button>
                </div>
            </div>
            <div class="col-md-8">
                <!-- buscador packaging -->
                <div class="row">
                    <div class="col-6 pb-3 mx-auto">
                        <div class="input-group">                                
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="buscar-addon"><i class="fas fa-search"></i></span>
                            </div>
                            <input type="text" id="buscarPackaging" class="form-control" placeholder="Buscar..." aria-label="Buscar" aria-describedby="buscar-addon" v-model="searchPack">
                            <div class="input-group-append">
                                <button class="btn btn-success" type="button" id="buscar-addon">Buscar</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Listado de packaging -->
                <div class="row">
                    <div class="col-lg-4 col-md-6 p-2" v-for="item of listaPack">
                        <div class="card">
                            <img :src="item.img" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title text-uppercase">{{ item.nombre }}</h5>
                                <p class="card-text text-uppercase">Stock: {{ item.stock }}</p>
                                <p class="card-text text-uppercase">Costo: $ {{ item.precioUnitario }}</p>
                                <button class="btn btn-warning font-weight-bold" @click="editPack(item)"><i class="far fa-edit"></i> Editar</button>
                                <button class="btn btn-danger font-weight-bold" data-toggle="modal" data-target="#confirmDeletePack" @click="deletePack(item)"><i class="far fa-trash-alt"></i> Borrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- modal delete packaging -->
        <div class="modal fade" id="confirmDeletePack" tabindex="-1" role="dialog" aria-labelledby="confirmDeletePackLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmDeletePackLabel">Eliminar Packaging</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ¿Esta seguro que desea eliminar el packaging?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary font-weight-bold" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger font-weight-bold" data-dismiss="modal" @click="confirmDelete">Borrar</button>
                </div>
                </div>
            </div>
        </div>
    </div>


    <script src="view/packaging/app-vue.js"></script>
</body>
</html>