<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body>

<div id="app">
    <!-- loading  -->
    <div id="loadPage" v-if="saveProduction">
        <div class="d-flex justify-content-center modal-dialog-centered">
            <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row pt-2">
            <div class="col-12">
                <h3 class="text-center">Producción</h3>
            </div>
        </div>
        <!-- response -->
        <div class="row pt-3">
            <div class="col-10 mx-auto" id="alert-producto">
            </div>
        </div>

        <!-- lista de produccion -->
        <div class="row">
            <div class="col-12">
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <button class="btn btn-success mr-2" data-toggle="modal" data-target="#nuevaProduccion">Nuevo</button>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link active" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false" @click="getProduction()">Pendientes</a>
                    </li> -->
                </ul>
                <hr>
                <div class="tab-content" id="pills-tabContent">
                    <!-- Lista de produccion -->
                    <div class="tab-pane fade show active" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                        <div class="row">
                            <div class="col-12">
                                <h4 class="text-left">Planillas de Produccion</h4>
                            </div>
                        </div>
                        <div class="row pt-2">
                            <div class="col-12">
                                <table class="table table-responsive table-bordered table-hover" v-for="(produccion, i) of listaProduccion" v-if="produccion.listaProductionCategoria.length > 0">
                                    <thead class="table-dark">
                                        <tr>
                                            <th>Año</th>
                                            <th>Mes</th>
                                            <th>Fecha de Registro</th>
                                            <th>Categorias</th>
                                            <th>A Producir</th>
                                            <th>Hechos</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="produccionCategoria of produccion.listaProductionCategoria">
                                            <td>{{ produccion.year }}</td>
                                            <td>{{ produccion.mesNombre }}</td>                                            
                                            <td>{{ produccion.fecha }}</td>
                                            <th>{{ produccionCategoria.nombreCategoria }}</th>
                                            <th>{{ produccionCategoria.cantidadProducir }}</th>
                                            <th>{{ produccionCategoria.cantidadProducida }}</th>
                                            <td>
                                                <button class="btn btn-warning" data-target="#verProduccion" @click="verProduccion(produccion,produccionCategoria)" data-toggle="modal">Ver Produccción</button>
                                                <button class="btn btn-info" data-target="#verInsumosProduccion" @click="verInsumos(produccion,produccionCategoria)" data-toggle="modal">Tabla de insumos</button>
                                                <button class="btn btn-danger"  data-target="#deleteProduccion" data-toggle="modal" @click="deleteProduccion(produccionCategoria)" >Borrar</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="7">
                                                TOTAL PRODUCCION {{produccion.mesNombre.toUpperCase()}} {{produccion.year}}: {{produccion.totalProduccion}} / REALIZADAS: {{produccion.totalProducido}} PIEZAS
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- modal nueva produccion -->
    <div class="modal fade" id="nuevaProduccion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Añadir a Producción</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="nuevaProduccionBody">
                    <div class="row" id="optionsProduction">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="" class="col-md-12">Seleccione Año</label>
                                <div class="col-md-12">
                                    <select class="form-control" v-model.number="yearProduccion">
                                        <option value="null">Seleccionar Año</option>
                                        <option :value="year" v-for="year of years">{{year}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="" class="col-md-12">Seleccione Mes</label>
                                <div class="col-md-12">
                                    <select class="form-control" v-model="mesProduccion">
                                        <option value="null">Seleccionar Mes</option>
                                        <option :value="mes.nro" v-for="mes of meses">{{mes.nombre}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-md-12" for="selectCategoria">Elegir Categoría</label>                                        
                                <div class="col-md-12">
                                    <select class="form-control" id="selectCategoria" @change="listaProductos()" v-model="categoriaProducto">
                                        <option value="null">Seleccionar Categoria</option>
                                        <option value="AROS">AROS</option>
                                        <option value="COLLARES">COLLARES</option>
                                        <option value="PULSERAS">PULSERAS</option>
                                    </select>
                                </div>                            
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <table class="table table-bordered table-responsive">
                            <thead class="table-dark">
                                <tr>
                                    <th>Imagen</th>
                                    <th>Categoría</th>
                                    <th>Nombre</th>
                                    <th v-for="color of listaColores">{{ color.color }}</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody id="tbody">
                                <tr v-if="cargarProducto">
                                    <td colspan="14">
                                        <div class="d-flex justify-content-center">
                                            <div class="spinner-border" role="status">
                                                <span class="sr-only">Loading...</span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr v-for="(item,i) of listProductos" v-show="(pag - 1) * NUM_RESULTS <= i  && pag * NUM_RESULTS > i">
                                    <td>
                                        <img :src="item.imagen" alt="item.nombre" class="card-img-top mx-auto" style="max-height: 75px; width: auto;">
                                    </tdclass="col">
                                    <td>{{item.categoria}}</td>
                                    <td><p style="width: 200px;">{{item.nombre}}</p></td>
                                    <th v-for="(c,j) of item.colores">
                                        <input style="width: 70px;" :id="j+(i*10)" type="number" @click="sumProd(i)" @keyup="sumProd(i)" class="form-control" min="0" step="1" v-model.number="c.cantidad" aria-describedby="button-addon2">
                                    </th>
                                    <td>
                                        <input type="number" class="form-control" style="width: 70px;" disabled v-model="item.totalProducto">
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="17">
                                        <button class="btn btn-primary" :disabled="pag === 1"  @click.prevent="pag -= 1">Anterior</button>
                                        <span>{{ pag }}/{{ Math.round(listProductos.length / NUM_RESULTS) }}</span>
                                        <button class="btn btn-primary" :disabled="pag >= (listProductos.length / NUM_RESULTS)" @click.prevent="pag += 1">Siguiente</button>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" @click="pag=1">Cerrar</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" @click="addProduccion(),pag=1">Guardar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- modal ver produccion -->
    <div class="modal fade" id="verProduccion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Detalles de Produccion</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="nuevaProduccionBody">
                    <div class="row" id="optionsProduction">
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label for="" class="col-form-label col-md-12">Año</label>
                                <div class="col-md-12">
                                    <input type="text" class="form-control" v-model="vistaProduction.year" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label for="" class="col-form-label col-md-12">Mes</label>
                                <div class="col-md-12">
                                    <input type="text" class="form-control" v-model="vistaProduction.mesNombre" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-form-label col-md-12" for="selectCategoria">Categoría</label>                                        
                                <div class="col-md-12">
                                    <input type="text" class="form-control" v-model="vistaProduction.nombreCategoria" disabled>
                                </div>                            
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <table class="table table-bordered table-responsive">
                            <thead>
                                <tr>
                                    <th class="table-dark">Imagen</th>
                                    <th class="table-dark" >Nombre</th>
                                    <th class="table-dark text-center" >Total</th>
                                    <th class="table-dark text-center" v-for="color of listaColores" colspan="2" class="text-center">
                                        {{ color.color }}
                                    </th>
                                </tr>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th v-for="(color, i) of listaColores" class="text-center" :class="setBackgraund(i)">
                                        <span v-if="i%2!=0">H</span>
                                        <span v-if="i%2==0">P</span>
                                    </th>
                                    <th v-for="(color, j) of listaColores" class="text-center" :class="setBackgraund2(j)">
                                        <span v-if="j%2!=0">P</span>
                                        <span v-if="j%2==0">H</span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="tbody">
                                <tr v-if="cargarProducto">
                                    <td colspan="14">
                                        <div class="d-flex justify-content-center">
                                            <div class="spinner-border" role="status">
                                                <span class="sr-only">Loading...</span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr v-for="(item,i) of vistaProductionProductos" v-show="(pag - 1) * NUM_RESULTS <= i  && pag * NUM_RESULTS > i">                                    
                                    <td>
                                        <img :src="item.imagen" :alt="item.nombre" class="card-img-top mx-auto" style="max-height: 75px; width: auto;">
                                    </td>
                                    <td><p style="width: 200px;">{{item.nombre}}</p></td>
                                    <td>
                                        <input style="min-width: 70px;max-width: 140px;" type="number" name="" id="" :value="sumTotProd(item.colores)" class="form-control text-danger text-bold text-center" disabled>
                                    </td>
                                    <td v-for="(c,j) of item.colores" :class="setBackgraund(j)">
                                            <!-- producir -->
                                            <input style="width: 60px;" v-if="j%2==0" :id="j+(i*10)" type="number" class="form-control text-bold text-primary" min="0" step="1" v-model.number="item.colores[j/2].cantidad" aria-describedby="button-addon3" disabled>
                                            <!-- hechos -->
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <button v-if="j%2!=0" :id="'btn1'+((10*i)+c.orden)" class="btn btn-outline-secondary" @click="removeProdHecho( (item.colores[(j-1)/2]) , ('btn1'+((10*i)+c.orden)) , ('btn2'+((10*i)+c.orden))  )">
                                                        <i class="fas fa-minus-circle"></i>
                                                    </button>
                                                </div>
                                                <input style="width: 150px;" v-if="j%2!=0" :id="'realizado'+j+(i*10)" type="number" class="form-control text-success text-bold text-center" min="0" step="1" v-model.number="item.colores[(j-1)/2].realizado" aria-describedby="button-addon3" disabled>
                                                <div class="input-group-append">
                                                    <button v-if="j%2!=0" :id="'btn2'+((10*i)+c.orden)" class="btn btn-outline-primary" @click="addProdHecho( (item.colores[(j-1)/2]) , ('btn1'+((10*i)+c.orden)) , ('btn2'+((10*i)+c.orden))  )">
                                                        <i class="fas fa-plus-circle"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            <!-- <span v-if="j%2!=0">{{(j-1)/2}}</span> -->
                                            <!-- <span v-if="j%2==0">{{j/2}}</span> -->
                                    </td>
                                    <td v-for="(c,j) of item.colores" :class="setBackgraund2(j)">
                                        <!-- producir -->
                                        <input style="width: 70px;" v-if="j%2!=0" :id="j+(i*10)" type="number" class="form-control text-bold text-primary" min="0" step="1" v-model.number="item.colores[((j-1)/2)+7].cantidad" aria-describedby="button-addon3" disabled>
                                        <!-- hechos -->
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <button v-if="j%2==0" :id="'btn1'+((10*i)+c.orden)" class="btn btn-outline-secondary" @click="removeProdHecho( (item.colores[(j/2)+6]) , ('btn1+'+((10*i)+c.orden)) , ('btn2+'+((10*i)+c.orden)))">
                                                    <i class="fas fa-minus-circle"></i>
                                                </button>
                                            </div>
                                            <input style="width: 150px;" v-if="j%2==0" :id="'realizado'+j+(i*10)" type="number" class="form-control text-success text-bold text-center" min="0" step="1" v-model.number="item.colores[(j/2)+6].realizado" aria-describedby="button-addon3" disabled>
                                            <div class="input-group-append">
                                                <button v-if="j%2==0" :id="'btn2'+((10*i)+c.orden)" class="btn btn-outline-primary" @click="addProdHecho( (item.colores[(j/2)+6]) , ('btn1+'+((10*i)+c.orden)) , ('btn2+'+((10*i)+c.orden)) )">
                                                    <i class="fas fa-plus-circle"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <!-- <span v-if="j%2==0">{{ (j/2)+6 }}</span> -->
                                        <!-- <span v-if="j%2!=0">{{((j-1)/2)+7}}</span> -->
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="17">
                                        <button class="btn btn-primary" :disabled="pag===1" @click.prevent="pag -= 1">Anterior</button>
                                        <span>{{ pag }}/{{ Math.ceil(vistaProductionProductos.length / NUM_RESULTS) }}</span>
                                        <button class="btn btn-primary" :disabled="pag >= vistaProductionProductos.length / NUM_RESULTS" @click.prevent="pag += 1">Siguiente</button>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" @click="pag=1" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-success" @click="pag=1, editarProduccion(vistaProduction,vistaProductionProductos)" data-dismiss="modal">Guardar Cambios</button>
                </div>
            </div>
        </div>
    </div>

    <!-- modal ver insumos produccion -->
    <div class="modal fade" id="verInsumosProduccion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Tabla de Insumos</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="nuevaProduccionBody">
                    <div class="row" id="optionsProduction">
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label for="" class="col-form-label col-md-12">Año</label>
                                <div class="col-md-12">
                                    <input type="text" class="form-control" v-model="insumosProduccion.produccion.year" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label for="" class="col-form-label col-md-12">Mes</label>
                                <div class="col-md-12">
                                    <input type="text" class="form-control" v-model="insumosProduccion.produccion.mesNombre" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-form-label col-md-12" for="selectCategoria">Categoría</label>                                        
                                <div class="col-md-12">
                                    <input type="text" class="form-control" v-model="insumosProduccion.produccion.nombreCategoria" disabled>
                                </div>                            
                            </div>
                        </div>
                    </div>
                    <div class="row" id="listaInsumos">
                        <div class="col-12">
                            <div class="table-responsive">
                                <table class="table table-fixed">
                                    <thead class="">
                                        <tr>
                                            <th scope="col" class="col-2 text-center table-dark">Codigo</th>
                                            <th scope="col" class="col-2 text-center table-dark">Nombre</th>
                                            <th scope="col" class="col-2 text-center table-dark">Color</th>
                                            <th scope="col" class="col-2 text-center table-dark">Cant. Necesaria</th>
                                            <th scope="col" class="col-2 text-center table-dark">Cant. Disponible</th>
                                            <th scope="col" class="col-2 text-center table-dark">Cant. Faltante</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="insumo of insumosProduccion.listaInsumos">
                                            <td class="col-2 text-center">{{ insumo.codigoInsumo }}</td>
                                            <td class="col-2 text-center">{{ insumo.nombreInsumo }}</td>
                                            <td class="col-2 text-center">{{ insumo.color }}</td>
                                            <td class="col-2 text-center">{{ insumo.TotalInsumo }}</td>
                                            <td class="col-2 text-center">{{ insumo.cantDisponible }}</td>
                                            <td class="col-2 text-center" :class="{ 'text-danger text-bold' : insumo.cantFaltante>0 }">{{ insumo.cantFaltante }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- modal delete produccion -->
    <div class="modal fade" id="deleteProduccion" tabindex="-1" role="dialog" aria-labelledby="deleteProduccionLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteProduccionLabel">Eliminar Producción</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="cancelDeleteProduccion">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ¿Esta seguro que desea eliminar la Producción?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary font-weight-bold" data-dismiss="modal" @click="cancelDeleteProduccion">Cancelar</button>
                <button type="button" class="btn btn-danger font-weight-bold" data-dismiss="modal" @click="confirmarDeleteProduccion">Borrar</button>
            </div>
            </div>
        </div>
    </div>
</div>
    <script src="view/produccion/app-vue.js"></script>
</body>

</html>