<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
        <a class="navbar-brand" href="#">
            <img src="/src/img/logo-flor-sin-fondo.png" class="icon-navbar" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item" id="nav-insumos">
                    <a class="nav-link" id="insumos" href="#insumos">Insumos</a>
                </li>
                <li class="nav-item" id="nav-proveedores">
                    <a class="nav-link" id="proveedores" href="#proveedores">Proveedores</a>
                </li>
                <li class="nav-item" id="nav-packaging">
                    <a class="nav-link" id="packaging" href="#packaging">Packaging</a>
                </li>
                <li class="nav-item dropdown" id="nav-productos">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Productos
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" id="nuevo-productos" href="#nuevo-producto">Cargar Nuevo Productos</a>
                        <a class="dropdown-item" id="listar-productos" href="#listar-productos">Lista de Productos</a>
                    </div>
                </li>
                <li class="nav-item" id="nav-produccion">
                    <a class="nav-link" id="produccion" href="#produccion">Producción</a>
                </li>
                <li class="nav-item" id="nav-setting">
                    <a class="nav-link" id="setting" href="#setting">Configuraciones</a>
                </li>
            </ul>
        </div>
        <div class="float-right" id="navbarUsr">
            <button class="btn" @click="wUser=!wUser;userdata();">
                <i class="fas fa-user-circle"></i>
                {{usuario.name}}
            </button>
            <div class="col-sm-10 col-md-6 col-lg-4 bg-light" id="userData" v-if="wUser">
                <div class="headerUserData">
                    <button class="btn pt-2" @click="wUser=!wUser">
                        <i class="fas fa-chevron-right"></i>
                    </button>
                </div>
                <hr>
                <div class="avatarUser mx-auto" >
                    <img src="img/perfil.jpg" alt="perfil" id="img-perfil">
                </div>
                <div class="dataUser p-5">
                    <h3 class=""><b>{{usuario.name}}</b></h3>
                    <h5>{{usuario.mail}}</h5>
                    <a href="backend/logout.php"><button class="btn btn-danger">Cerrar Sesión</button></a>
                </div>
            </div>
        </div>
    </nav>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="view/navbar/navbar.js"></script>
</body>
</html>