<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    <div class="container-fluid" id="app">
        <div id="loadPage" v-if="saving">
            <div class="d-flex justify-content-center">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
        <!-- Response -->
        <div class="row pt-3" v-if="response" id="response-prod">
            <div class="col-10 mx-auto" id="alert-producto">
            </div>
        </div>
        <!-- Editar Productos -->
        <div class="fondo-oscuro" v-if="editProd">
            <div class="bg-light shadow-lg" id="wEditarProducto">
                <!-- datos del producto -->
                <div class="row pt-2">
                    <div class="col-12">
                        <button class="btn btn-danger float-right mr-5 mt-2" @click="cancelarEdicion" title="Cancelar la Edición">Cancelar</button>
                    </div>
                </div>
                <div class="row px-5">
                    <!-- Detalles del producto -->
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="nombreProducto">Nombre Producto</label>
                            <input type="text" id="nombreProducto" class="form-control" v-model="productEdit.nombre">
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-6">
                                    <label for="categoriaProducto">Categoria</label>
                                    <select class="form-control" id="categoriaProducto" @change="settingCategoria(productEdit.idcategorias),precioSugerido()" v-model="productEdit.idcategorias">
                                        <option value="">Seleccionar Categoria</option>
                                        <option :value="item.idcategorias" v-for="item of categoriasProducto">{{ item.nombre }}</option>
                                    </select>
                                </div>
                                <div class="col-6">
                                    <label for="horasTrabajoProducto">Tiempo de Trabajo</label>
                                    <input type="number" min="0" id="horasTrabajoProducto" class="form-control" @click="modificarHoras()" v-model.number="productEdit.horasTrabajo">
                                    <small class="form-text text-muted">Tiempo expresado en minutos.</small>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-6">
                                    <label for="precioSugeridoProducto">Precio Sugerido</label>
                                    <input type="number" min="0" step="0.01" id="precioSugeridoProducto" class="form-control" disabled v-model.number="productEdit.PrecioSugerido">
                                </div>
                                <div class="col-6">
                                    <label for="fechaProducto">Año:</label>
                                    <input class="form-control" type="number" id="fechaProducto" v-model="productEdit.year">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-6">
                                    <label for="precioMinoristaProducto">Precio Minorista</label>
                                    <input type="number" min="0" step="0.01" id="editPrecioMinoristaProducto" class="form-control" v-model.number="productEdit.precioMinorista">
                                </div>
                                <div class="col-6">
                                    <label for="precioMayoristaProducto">Precio Mayorista</label>
                                    <input type="number" min="0" step="0.01" id="precioMayoristaProducto" class="form-control" disabled v-model.number="productEdit.precioMayorista">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-6">
                                    <button class="btn btn-block btn-primary" data-toggle="modal" data-target="#addInsumos">Añadir Insumos</button>
                                </div>
                                <div class="col-6">
                                    <button class="btn btn-block btn-danger" data-toggle="modal" data-target="#addPack" @click="getListaPack()">Añadir Packaging</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="imagenProducto">Imágen Producto</label>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="imagenProducto" @change="fileSelected">
                                <label class="custom-file-label" for="imagenProducto">Seleccionar imágen</label>
                            </div>
                            <img :src="productEdit.imagen" id="imgPreview" class="img-fluid mx-auto d-block pt-2" alt="Image preview...">
                        </div>
                        <button class="btn btn-block btn-success" @click="addProducto">Guardar</button>    
                    </div>
                    <!-- Detalles de insumos, packaging y combinaciones -->
                    <div class="col-md-8">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="listaInsumos-tab" data-toggle="tab" href="#listaInsumos" role="tab" aria-controls="listaInsumos" aria-selected="true">Lista de Insumos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="listaPack-tab" data-toggle="tab" href="#listaPack" role="tab" aria-controls="listaPack" aria-selected="false">Lista de Packaging</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="listaComb-tab" data-toggle="tab" href="#listaComb" role="tab" aria-controls="listaComb" aria-selected="false" @click="cargarCombInsumos(),getCombinaciones(productEdit.idproductos)">Lista de Combinaciones</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <!-- Listado de insumos añadidos al producto -->
                            <div class="tab-pane fade show active" id="listaInsumos" role="tabpanel" aria-labelledby="listaInsumos-tab">
                                <div class="row p-3">
                                    <div class="col-12">
                                        <table class="table table-hover table-responsive">
                                            <thead class="thead-dark">
                                                <tr>
                                                    <th scope="col">Categoría</th>
                                                    <th scope="col">Insumo</th>
                                                    <th scope="col">Detalle</th>
                                                    <th scope="col">Cantidad</th>
                                                    <th scope="col">Precio U.</th>
                                                    <th scope="col">Sub total</th>
                                                    <th scope="col" colspan="2"></th>
                                                </tr>
                                            </thead>
                                            <tbody :class="setBackgraund(insumo.categoria)" v-for="(insumo, index) of listaInsumoProductos">
                                                <tr>
                                                    <td class="">{{ insumo.categoria }}</td>
                                                    <td class="">{{ insumo.nombre }}</td>
                                                    <td class="">{{ insumo.detalle }}</td>                                
                                                    <td class="">{{ insumo.cantidadInsumo }}</td>
                                                    <td class="">$ {{ insumo.costoUnitario }}</td>
                                                    <td class="">$ {{ Math.round(insumo.Costo*100)/100 }}</td>
                                                    <td>
                                                        <button class="btn btn-warning float-right m-1" data-toggle="modal" data-target="#modifyInsumos" @click="modificarInsumo(insumo, index)"><i class="far fa-edit"></i> </button>
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-danger float-right m-1" @click="quitarInsumo(insumo, index)"><i class="far fa-trash-alt"></i></button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                            <tfoot class="table-light">
                                                <tr>
                                                    <td class="text-right" colspan="5">Total:</td>
                                                    <td>${{ Math.round(costoTotalInsumos*100)/100 }}</td>
                                                    <td></td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- Listado de packaging añadidos al producto -->
                            <div class="tab-pane fade" id="listaPack" role="tabpanel" aria-labelledby="listaPack-tab">
                                <div class="row p-3">
                                    <div class="col-12">
                                        <table class="table table-responsive table-hover">
                                            <thead class="table-dark">
                                                <tr>
                                                    <th>Imágen</th>
                                                    <th>Nombre</th>
                                                    <th>Precio U.</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="(packProducto, i) of listaPackProductos">
                                                    <td>
                                                        <img :src="packProducto.img" class="card-img" alt="packProducto.nombre" style="max-height: 75px; width: auto;">
                                                    </td>
                                                    <td>{{ packProducto.nombre }}</td>
                                                    <td>$ {{ packProducto.precioUnitario }}</td>
                                                    <td>
                                                        <button class="btn btn-warning float-right" @click="quitarPack(packProducto,i)"><i class="far fa-trash-alt"></i> Quitar</button>
                                                    </td>
                                                </tr>                                        
                                            </tbody>
                                            <tfoot class="table-light">
                                                <tr>
                                                    <td colspan="2" class="text-right">Total:</td>
                                                    <td>$ {{ Math.round(costoTotalPack*100)/100 }}</td>
                                                    <td></td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- Lista de combinaciones del producto -->
                            <div class="tab-pane fade" id="listaComb" role="tabpanel" aria-labelledby="listaComb-tab">
                                <div class="row p-3">
                                    <div class="col-12">
                                        <button class="btn btn-success" data-toggle="modal" data-target="#combinacionesModal">+ combinación</button>
                                        <p class="pt-1" v-if="!checkListaCombinaciones">No hay combinaciones cargadas...</p>
                                        <table class="table table-bordered table-hover table-responsive" v-if="checkListaCombinaciones">
                                            <thead class="table-dark">
                                                <tr>
                                                    <th>#</th>
                                                    <th>Primario</th>
                                                    <th>Secundario</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="(comb, index) of listaCombinaciones">
                                                    <td>{{index+1}}</td>
                                                    <td>{{comb.primario.color}}</td>
                                                    <td>{{comb.secundario.color}}</td>
                                                    <td>
                                                        <button class="btn btn-warning" @click="editarComb(comb,index)" data-toggle="modal" data-target="#editarCombinacionesModal">Editar</button>
                                                        <button class="btn btn-danger" @click="borrarComb(comb,index)" data-toggle="modal" data-target="#deleteCombinacionModal">Borrar</button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Listado de Productos -->
        <div class="row p-5">
            <div class="col-12">
                <div class="row">
                    <div class="col-md-6 col-lg-6">
                        <div class="row">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Buscar Productos" aria-label="Buscar Productos" aria-describedby="button-addon-bucarProducto" v-model="buscarProductos" @keyup.enter="buscarProd()">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" v-if="busquedaProductos" @click="limpiarBusqueda()">Limpiar Busqueda</button>
                                    <button class="btn btn-outline-success" type="button" id="button-addon-bucarProducto" @click="buscarProd()">Buscar</button>
                                </div>
                            </div>           
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <div class="row">
                            <div class="ml-1">
                                <!-- Filtrar Listado -->
                                <div class="dropdown">
                                    <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButtonFilter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-filter"></i> Filtrar
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonFilter">
                                        <form class="px-3">
                                            Categoria:
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                  <div class="input-group-text">
                                                    <input type="checkbox" @change="habilitar('filtrocategoria'),filterList()" aria-label="" v-model="filters.categoria.state">
                                                  </div>
                                                </div>
                                                <select class="form-control" id="filtrocategoria" @change="filterList()" v-model="filters.categoria.value" disabled>
                                                    <option value="null">Select</option>
                                                    <option value="AROS">AROS</option>
                                                    <option value="COLLARES">COLLARES</option>
                                                    <option value="PULSERAS">PULSERAS</option>
                                                </select>
                                            </div>
                                            Año:
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                  <div class="input-group-text">
                                                    <input type="checkbox" @change="habilitar('filtroyear'),filterList()" aria-label="" v-model="filters.year.state">
                                                  </div>
                                                </div>
                                                <select class="form-control" id="filtroyear" @change="filterList()" v-model="filters.year.value" disabled>
                                                    <option value="null">Select</option>
                                                    <option :value="years.year" v-for="years of yearProduct">{{ years.year }}</option>
                                                </select>
                                            </div>                                            
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="ml-1">
                                <!-- Quitar Filtrar -->
                                <button class="btn btn-danger" v-if="filters.categoria.state||filters.year.state" @click="quitarFiltros()">Quitar Filtros</button>
                            </div>
                            <div class="ml-1">
                                <!-- Imprimir listados de precios -->
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-print"></i> Imprimir
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                      <a class="dropdown-item" href="./reporte" target="_blank">Listado Completo</a>
                                      <a class="dropdown-item" :href="'./reporte/index.php?year='+years.year" target="_blank" v-for="years of yearProduct">Lista {{ years.year }}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 p-2">
                        <table class="table table-responsive table-hover text-center">
                            <thead class="table-dark">
                                <tr>
                                    <th>Año</th>
                                    <th>Categoría</th>
                                    <th>Nombre</th>
                                    <th>Precio Minorista</th>
                                    <th>Precio Sugerido</th>
                                    <th>Tiempo</th>
                                    <th>Insumos</th>
                                    <th>Packaging</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-if="cargarProducto">
                                    <td colspan="7">
                                        <div class="d-flex justify-content-center">
                                            <div class="spinner-border" role="status">
                                                <span class="sr-only">Loading...</span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr v-for="(item, index) of listaProductos" :id="('elto'+index)">
                                    <td>{{ item.year }}</td>
                                    <td>{{ item.categoria }}</td>
                                    <td>{{ item.nombre }}</td>
                                    <td>
                                        <h4>
                                            <span class="badge badge-primary font-weigth-bold">$ {{ item.precioMinorista }}</span>                                            
                                        </h4>
                                    </td>
                                    <td>
                                        $ {{ Math.round(item.PrecioSugerido*100)/100 }}
                                    </td>
                                    <td>{{item.horasTrabajo}}'</td>
                                    <td>$ {{ Math.round(item.CostoInsumos*100)/100 }}</td>
                                    <td>$ {{item.CostoPack}}</td>
                                    <td>
                                        <div class="row">
                                            <div class="col-12">
                                                <button class="btn btn-warning btn-block font-weight-bold" @click="editarProducto(item,index)"><i class="far fa-edit"></i> </button>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="row">
                                            <div class="col-12">
                                                <button class="btn btn-info btn-block font-weight-bold" data-toggle="modal" data-target="#confirmDuplicarProducto" @click="duplicarProducto(item)"><i class="far fa-copy"></i> </button>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="row">
                                            <div class="col-12">
                                                <button class="btn btn-danger btn-block font-weight-bold" data-toggle="modal" data-target="#confirmDeleteProducto" @click="deleteProducto(item.idproductos)"><i class="far fa-trash-alt"></i> </button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- modal add insumo -->
        <div class="modal fade" id="addInsumos">
            <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmDeletePackLabel">Añadir Insumo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-8 mx-auto">
                            <div class="row">
                                <div class="col-10">
                                    <div class="form-group">
                                        <input type="text" id="search-insumo" class="form-control" placeholder="Buscar..." v-model="busqInsumo" autofocus>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <button class="btn btn-success btn-block" @click="getInsumos(busqInsumo)"><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-12">
                            <table class="table table-bordered table-hover">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Categoría</th>
                                        <th scope="col">Insumo</th>
                                        <th scope="col">Detalle</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody :class="setBackgraund(insumo.categoria)" v-for="insumo of listInsumos">
                                    <tr>
                                        <td class="font-weight-bold">{{ insumo.categoria }}</td>
                                        <td class="font-weight-bold">{{ insumo.nombre }}</td>
                                        <td class="font-weight-bold">{{ insumo.detalle }}</td>                              
                                        <td v-if="!cargarInsumo">
                                            <button class="btn btn-primary btn-block" @click="selectInsumo(insumo)">Seleccionar</button>                                            
                                        </td>
                                        <td v-if="cargarInsumo">
                                            <button class="btn btn-danger btn-block" @click="quitarSeleccion">Quitar</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-12">
                            <div class="row" v-if="cargarInsumo">
                                <div class="col-6">
                                    <label for="cantInsumo">Cantidad</label>
                                    <input type="number" min="0" class="form-control" id="cantInsumo" @keyup.enter="addInsumo" v-model.number="insumo.cantidadInsumo">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success" data-dismiss="modal" @click="addInsumo">Añadir</button>
                </div>
                </div>
            </div>
        </div>
        <!-- modal modify insumo -->
        <div class="modal fade" id="modifyInsumos">
            <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modifyInsumosLabel">Modificar Insumo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <hr>
                    <div class="row">
                        <div class="col-12">
                            <table class="table table-bordered table-hover">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Categoría</th>
                                        <th scope="col">Insumo</th>
                                        <th scope="col">Detalle</th>
                                    </tr>
                                </thead>
                                <tbody :class="setBackgraund(insumo.categoria)">
                                    <tr>
                                        <td class="font-weight-bold">{{ modifyInsumo.insumo.categoria }}</td>
                                        <td class="font-weight-bold">{{ modifyInsumo.insumo.nombre }}</td>
                                        <td class="font-weight-bold">{{ modifyInsumo.insumo.detalle }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-6">
                                    <label for="cantInsumo">Cantidad</label>
                                    <input type="number" min="0" class="form-control" id="cantInsumo" v-model.number="modifyInsumo.insumo.cantidadInsumo">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success" data-dismiss="modal" @click="confirmarModify()">Añadir</button>
                </div>
                </div>
            </div>
        </div>
        <!-- modal add pack -->
        <div class="modal fade" id="addPack">
            <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmDeletePackLabel">Añadir Packaging</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card mb-3" v-for="(pack, index) of listaPack">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                            <img :src="pack.img" class="card-img" alt="pack.nombre">
                            </div>
                            <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{ pack.nombre }}</h5>
                                <button class="btn btn-primary btn-lg float-right" @click="addPackProd(pack,index)">Añadir</button>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                </div>
                </div>
            </div>
        </div>
        <!-- modal delete product -->
        <div class="modal fade" id="confirmDeleteProducto" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteProductoLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmDeleteProductoLabel">Eliminar Producto</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ¿Esta seguro que desea eliminar el producto?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary font-weight-bold" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger font-weight-bold" data-dismiss="modal" @click="confirmarDeleteProducto">Borrar</button>
                </div>
                </div>
            </div>
        </div>
        <!-- modal duplicar product -->
        <div class="modal fade" id="confirmDuplicarProducto" tabindex="-1" role="dialog" aria-labelledby="confirmDuplicarProductoLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmDuplicarProductoLabel">Duplicar Producto</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        ¿Esta seguro que desea duplicar el producto?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary font-weight-bold" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-info font-weight-bold" data-dismiss="modal" @click="confirmarDuplicarProducto">Duplicar</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- modal crear combinaciones de colores -->
        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" id="combinacionesModal" aria-labelledby="combinacionesModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="combinacionesLabel">Combinaciones de Colores del Producto</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="cancelarCombinacion">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="primaryColor">Color Primario</label>
                                    <select id="primaryColor" class="form-control" v-model="miCombinacion.primario.color">
                                        <option value="null">Seleccionar</option>
                                        <option :value="colores.color" v-for="(colores,index) of listColor">{{colores.color}}</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="secondaryColor">Color Secundario</label>
                                    <select id="secondaryColor" class="form-control" v-model="miCombinacion.secundario.color">
                                        <option value="null">Seleccionar</option>
                                        <option :value="colores.color" v-for="(colores,index) of listColor">{{colores.color}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <table class="table table-responsive table-bordered">
                                    <thead class="table-dark">
                                        <tr>
                                            <th>ID</th>
                                            <th>Categoria</th>
                                            <th>Nombre</th>
                                            <th>Cantidad</th>
                                            <th>Color</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(item,index) of insumosComb">
                                            <td class="text-center">{{item.insumos_idinsumos}}</td>
                                            <td class="text-center">{{item.categoria}}</td>
                                            <td class="text-center">{{item.nombre}}</td>
                                            <td class="text-center">{{item.cantidadInsumo}}</td>
                                            <td class="text-center">
                                                <select class="form-control" :id="item.insumos_idinsumos" v-model.number="listInsumosTipComb[index].tipo" @change="cargarInsTipoComb(item.insumos_idinsumos)">
                                                    <option value="0">Seleccionar</option>
                                                    <option value="1">Primario</option>
                                                    <option value="2">Secundario</option>
                                                </select>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal" @click="cancelarCombinacion">Cancelar</button>
                        <button type="button" class="btn btn-success" data-dismiss="modal" @click="addCombinacion">Guardar</button>
                    </div>
              </div>
            </div>
        </div>
        <!-- modal editar combinaciones de colores -->
        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" id="editarCombinacionesModal" aria-labelledby="editarCombinacionesModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editarCombinacionesLabel">Editar Combinación</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="cancelModifCombinacion">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="primaryColor">Color Primario</label>
                                    <select id="primaryColor" class="form-control" v-model="miCombinacion.primario.color">
                                        <option value="null">Seleccionar</option>
                                        <option :value="colores.color" v-for="(colores,index) of listColor">{{colores.color}}</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="secondaryColor">Color Secundario</label>
                                    <select id="secondaryColor" class="form-control" v-model="miCombinacion.secundario.color">
                                        <option value="null">Seleccionar</option>
                                        <option :value="colores.color" v-for="(colores,index) of listColor">{{colores.color}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <table class="table table-responsive table-bordered">
                                    <thead class="table-dark">
                                        <tr>
                                            <th>ID</th>
                                            <th>Categoria</th>
                                            <th>Nombre</th>
                                            <th>Cantidad</th>
                                            <th>Color</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(item,index) of insumosComb">
                                            <td class="text-center">{{item.insumos_idinsumos}}</td>
                                            <td class="text-center">{{item.categoria}}</td>
                                            <td class="text-center">{{item.nombre}}</td>
                                            <td class="text-center">{{item.cantidadInsumo}}</td>
                                            <td class="text-center">
                                                <select class="form-control" :id="item.insumos_idinsumos" v-model.number="listInsumosTipComb[index].tipo" @change="cargarInsTipoComb(item.insumos_idinsumos)">
                                                    <option value="0">Seleccionar</option>
                                                    <option value="1">Primario</option>
                                                    <option value="2">Secundario</option>
                                                </select>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal" @click="cancelModifCombinacion">Cancelar</button>
                        <button type="button" class="btn btn-success" data-dismiss="modal" @click="addModifCombinacion">Guardar</button>
                    </div>
              </div>
            </div>
        </div>
        <!-- modal borrar combinaciones -->
        <div class="modal" tabindex="-1" role="dialog" id="deleteCombinacionModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Borrar Combinación</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="cancelDeleteComb()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table class="table table-bordered table-hover table-responsive">
                            <thead class="table-dark">
                                <tr>
                                    <th>Index</th>
                                    <th>Primario</th>
                                    <th>Secundario</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{indexDeleteComb}}</td>
                                    <td>{{miCombinacion.primario.color}}</td>
                                    <td>{{miCombinacion.secundario.color}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <p>¿Eliminar esta combinacón?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" @click="cancelDeleteComb()">Cancelar</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal" @click="deleteComb()">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="view/productos/lista-productos-vue.js"></script>
</body>
</html>