<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    <div class="container-fluid" id="app">
        <!-- Response -->
        <div class="row pt-3">
            <div class="col-10 mx-auto" id="alert-producto">
            </div>
        </div>

        <div class="row p-5">
            <!-- Cargar Detalles de producto -->
            <div class="col-md-6 col-lg-4">
                <h3 class="text-center">Productos</h3>
                <div class="form-group">
                    <label for="nombreProducto">Nombre Producto</label>
                    <input type="text" id="nombreProducto" class="form-control" v-model="producto.nombre">
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-6">
                            <label for="categoriaProducto">Categoria</label>
                            <select class="form-control" id="categoriaProducto" @change="settingCategoria" v-model="producto.categoria">
                                <option value="">Seleccionar Categoria</option>
                                <option :value="item.idcategorias" v-for="item of categoriasProducto">{{ item.nombre }}</option>
                            </select>
                        </div>
                        <div class="col-6">
                            <label for="horasTrabajoProducto">Tiempo de Trabajo</label>
                            <input type="number" min="0" id="horasTrabajoProducto" class="form-control" v-model.number="producto.horasTrabajo">
                            <small class="form-text text-muted">Tiempo expresado en minutos.</small>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-6">
                            <label for="porcentajeGananciaProducto">Precio Sugerido</label>
                            <input type="number" min="0" step="0.01" id="porcentajeGananciaProducto" class="form-control" disabled v-model.number="producto.precioSugerido">
                        </div>
                        <div class="col-6">
                            <label for="fechaProducto">Año:</label>
                            <input class="form-control" type="number" id="fechaProducto" v-model="producto.year">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-6">
                            <label for="precioMinoristaProducto">Precio Minorista</label>
                            <input type="number" min="0" step="0.01" id="precioMinoristaProducto" class="form-control" v-model.number="producto.precioMinorista">
                        </div>
                        <div class="col-6">
                            <label for="precioMayoristaProducto">Precio Mayorista</label>
                            <input type="number" min="0" step="0.01" id="precioMayoristaProducto" class="form-control" disabled v-model.number="producto.precioMayorista">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-6">
                            <button class="btn btn-block btn-primary" data-toggle="modal" data-target="#addInsumos">Añadir Insumos</button>
                        </div>
                        <div class="col-6">
                            <button class="btn btn-block btn-danger" data-toggle="modal" data-target="#addPack">Añadir Packaging</button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="imagenProducto">Imágen Producto</label>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="imagenProducto" @change="fileSelected">
                        <label class="custom-file-label" for="imagenProducto">Seleccionar imágen</label>
                    </div>
                    <img src="img/no-preview-available.png" id="imgPreview" class="img-fluid mx-auto d-block pt-2" alt="Image preview...">
                </div>
                <button class="btn btn-block btn-success" @click="addProducto">Guardar</button>    
            </div>
            <!-- Vista de datalles de producto -->
            <div class="col-md-6 col-lg-8">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="listaInsumos-tab" data-toggle="tab" href="#listaInsumos" role="tab" aria-controls="listaInsumos" aria-selected="true">Lista de Insumos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="listaPack-tab" data-toggle="tab" href="#listaPack" role="tab" aria-controls="listaPack" aria-selected="false">Lista de Packaging</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="listaComb-tab" data-toggle="tab" href="#listaComb" role="tab" aria-controls="listaComb" aria-selected="false" @click="cargarCombInsumos()">Lista de Combinaciones</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <!-- Listado de insumos añadidos al producto -->
                    <div class="tab-pane fade show active" id="listaInsumos" role="tabpanel" aria-labelledby="listaInsumos-tab">
                        <div class="row p-3">
                            <div class="col-12">
                                <table class="table table-responsive table-hover">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">Categoría</th>
                                            <th scope="col">Insumo</th>
                                            <th scope="col">Detalle</th>
                                            <th scope="col">Cantidad</th>
                                            <th scope="col">Precio U.</th>
                                            <th scope="col">Sub Total</th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody :class="setBackgraund(insumo.categoria)" v-for="(insumo, index) of producto.insumos">
                                        <tr>
                                            <td class="font-weight-bold">{{ insumo.categoria }}</td>
                                            <td class="font-weight-bold">{{ insumo.nombre }}</td>
                                            <td class="font-weight-bold">{{ insumo.detalle }}</td>
                                            <td class="font-weight-bold">{{ insumo.cantidadInsumo }}</td>
                                            <td class="font-weight-bold">$ {{ insumo.costoUnitario }}</td>
                                            <td class="font-weight-bold">$ {{ Math.round((insumo.cantidadInsumo*insumo.costoUnitario)*100)/100 }}</td>
                                            <td>
                                                <button class="btn btn-warning btn-block" @click="quitarInsumo(index)"><i class="far fa-trash-alt"></i> Quitar</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr class="table-light">
                                            <td colspan="5" class="text-right">Total:</td>
                                            <td>$ {{ Math.round(costoTotalInsumos*100)/100 }}</td>
                                            <td></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- Listado de packaging añadidos al producto -->
                    <div class="tab-pane fade" id="listaPack" role="tabpanel" aria-labelledby="listaPack-tab">
                        <div class="row p-3">
                            <div class="col-12">
                                <table class="table table-responsive table-hover">
                                    <thead class="table-dark">
                                        <tr>
                                            <th>Imágen</th>
                                            <th>Nombre</th>
                                            <th>Precio U.</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(packProducto, i) of producto.packaging">
                                            <td>
                                                <img :src="packProducto.img" class="card-img" alt="packProducto.nombre" style="max-height: 75px; width: auto;">
                                            </td>
                                            <td>{{ packProducto.nombre }}</td>
                                            <td>$ {{ packProducto.precioUnitario }}</td>
                                            <td>
                                                <button class="btn btn-warning float-right" @click="quitarPack(packProducto,i)"><i class="far fa-trash-alt"></i> Quitar</button>
                                            </td>
                                        </tr>                                        
                                    </tbody>
                                    <tfoot class="table-light">
                                        <tr>
                                            <td colspan="2" class="text-right">Total:</td>
                                            <td>$ {{ Math.round(costoTotalPack*100)/100 }}</td>
                                            <td></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- Lista de combinaciones del producto -->
                    <div class="tab-pane fade" id="listaComb" role="tabpanel" aria-labelledby="listaComb-tab">
                        <div class="row p-3">
                            <div class="col-12">
                                <button class="btn btn-success" data-toggle="modal" data-target="#combinacionesModal">+ combinación</button>
                                <p class="pt-1" v-if="!checkListaCombinaciones">No hay combinaciones cargadas...</p>
                                <table class="table table-bordered table-hover table-responsive" v-if="checkListaCombinaciones">
                                    <thead class="table-dark">
                                        <tr>
                                            <th>#</th>
                                            <th>Primario</th>
                                            <th>Secundario</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(comb, index) of listaCombinaciones">
                                            <td>{{index+1}}</td>
                                            <td>{{comb.primario.color}}</td>
                                            <td>{{comb.secundario.color}}</td>
                                            <td>
                                                <button class="btn btn-warning" @click="editarComb(comb,index)" data-toggle="modal" data-target="#editarCombinacionesModal">Editar</button>
                                                <button class="btn btn-danger" @click="borrarComb(comb,index)" data-toggle="modal" data-target="#deleteCombinacionModal">Borrar</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- modal add insumo -->
        <div class="modal fade" id="addInsumos">
            <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmDeletePackLabel">Añadir Insumo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-8 mx-auto">
                            <div class="row">
                                <div class="col-10">
                                    <div class="form-group">
                                        <input type="text" id="search-insumo" class="form-control" placeholder="Buscar..." v-model="busqInsumo" autofocus>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <button class="btn btn-success btn-block" @click="getInsumos(busqInsumo)"><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-12">
                            <table class="table table-bordered table-hover">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Categoría</th>
                                        <th scope="col">Insumo</th>
                                        <th scope="col">Detalle</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody :class="setBackgraund(insumo.categoria)" v-for="insumo of listInsumos">
                                    <tr>
                                        <td class="font-weight-bold">{{ insumo.categoria }}</td>
                                        <td class="font-weight-bold">{{ insumo.nombre }}</td>
                                        <td class="font-weight-bold">{{ insumo.detalle }}</td>                              
                                        <td v-if="!cargarInsumo">
                                            <button class="btn btn-primary btn-block" @click="selectInsumo(insumo)">Seleccionar</button>                                            
                                        </td>
                                        <td v-if="cargarInsumo">
                                            <button class="btn btn-danger btn-block" @click="quitarSeleccion">Quitar</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-12">
                            <div class="row" v-if="cargarInsumo">
                                <div class="col-6">
                                    <label for="cantInsumo">Cantidad</label>
                                    <input type="number" min="0" class="form-control" id="cantInsumo" @keyup.enter="addInsumo" v-model.number="insumo.cantidadInsumo">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success" data-dismiss="modal" @click="addInsumo">Añadir</button>
                </div>
                </div>
            </div>
        </div>
        <!-- modal add pack -->
        <div class="modal fade" id="addPack">
            <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmDeletePackLabel">Añadir Packaging</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card mb-3" v-for="(pack, index) of listaPack">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                            <img :src="pack.img" class="card-img" alt="pack.nombre">
                            </div>
                            <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{ pack.nombre }}</h5>
                                <button class="btn btn-primary btn-lg float-right" @click="addPack(pack,index)">Añadir</button>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                </div>
                </div>
            </div>
        </div>
        <!-- modal crear combinaciones de colores -->
        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" id="combinacionesModal" aria-labelledby="combinacionesModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="combinacionesLabel">Combinaciones de Colores del Producto</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="cancelarCombinacion">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="primaryColor">Color Primario</label>
                                    <select id="primaryColor" class="form-control" v-model="miCombinacion.primario.color">
                                        <option value="null">Seleccionar</option>
                                        <option :value="colores.color" v-for="(colores,index) of listColor">{{colores.color}}</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="secondaryColor">Color Secundario</label>
                                    <select id="secondaryColor" class="form-control" v-model="miCombinacion.secundario.color">
                                        <option value="null">Seleccionar</option>
                                        <option :value="colores.color" v-for="(colores,index) of listColor">{{colores.color}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <table class="table table-responsive table-bordered">
                                    <thead class="table-dark">
                                        <tr>
                                            <th>ID</th>
                                            <th>Categoria</th>
                                            <th>Nombre</th>
                                            <th>Cantidad</th>
                                            <th>Color</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(item,index) of insumosComb">
                                            <td class="text-center">{{item.idinsumos}}</td>
                                            <td class="text-center">{{item.categoria}}</td>
                                            <td class="text-center">{{item.nombre}}</td>
                                            <td class="text-center">{{item.cantidadInsumo}}</td>
                                            <td class="text-center">
                                                <select class="form-control" :id="item.idinsumos" v-model.number="listInsumosTipComb[index].tipo" @change="cargarInsTipoComb(item.idinsumos)">
                                                    <option value="0">Seleccionar</option>
                                                    <option value="1">Primario</option>
                                                    <option value="2">Secundario</option>
                                                </select>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal" @click="cancelarCombinacion">Cancelar</button>
                        <button type="button" class="btn btn-success" data-dismiss="modal" @click="addCombinacion">Guardar</button>
                    </div>
              </div>
            </div>
        </div>
        <!-- modal editar combinaciones de colores -->
        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" id="editarCombinacionesModal" aria-labelledby="editarCombinacionesModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editarCombinacionesLabel">Editar Combinación</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="cancelModifCombinacion">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="primaryColor">Color Primario</label>
                                    <select id="primaryColor" class="form-control" v-model="miCombinacion.primario.color">
                                        <option value="null">Seleccionar</option>
                                        <option :value="colores.color" v-for="(colores,index) of listColor">{{colores.color}}</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="secondaryColor">Color Secundario</label>
                                    <select id="secondaryColor" class="form-control" v-model="miCombinacion.secundario.color">
                                        <option value="null">Seleccionar</option>
                                        <option :value="colores.color" v-for="(colores,index) of listColor">{{colores.color}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <table class="table table-responsive table-bordered">
                                    <thead class="table-dark">
                                        <tr>
                                            <th>ID</th>
                                            <th>Categoria</th>
                                            <th>Nombre</th>
                                            <th>Cantidad</th>
                                            <th>Color</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(item,index) of insumosComb">
                                            <td class="text-center">{{item.idinsumos}}</td>
                                            <td class="text-center">{{item.categoria}}</td>
                                            <td class="text-center">{{item.nombre}}</td>
                                            <td class="text-center">{{item.cantidadInsumo}}</td>
                                            <td class="text-center">
                                                <select class="form-control" :id="item.idinsumos" v-model.number="listInsumosTipComb[index].tipo" @change="cargarInsTipoComb(item.idinsumos)">
                                                    <option value="0">Seleccionar</option>
                                                    <option value="1">Primario</option>
                                                    <option value="2">Secundario</option>
                                                </select>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal" @click="cancelModifCombinacion">Cancelar</button>
                        <button type="button" class="btn btn-success" data-dismiss="modal" @click="addModifCombinacion">Guardar</button>
                    </div>
              </div>
            </div>
        </div>
        <!-- modal borrar combinaciones -->
        <div class="modal" tabindex="-1" role="dialog" id="deleteCombinacionModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Borrar Combinación</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="cancelDeleteComb()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table class="table table-bordered table-hover table-responsive">
                            <thead class="table-dark">
                                <tr>
                                    <th>Index</th>
                                    <th>Primario</th>
                                    <th>Secundario</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{indexDeleteComb}}</td>
                                    <td>{{miCombinacion.primario.color}}</td>
                                    <td>{{miCombinacion.secundario.color}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <p>¿Eliminar esta combinacón?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" @click="cancelDeleteComb()">Cancelar</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal" @click="deleteComb()">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="view/productos/app-vue.js"></script>
</body>
</html>