<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- font awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- CSS bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- CSS Style -->
    <link rel="stylesheet" href="/src/css/style.css">
    <title>Sistema de Gestión</title>
</head>

<body>

    <div class="container bg-light" id="app">
        <div class="row">
            <div class="col-12">
                <h1>{{titulo}}</h1>
            </div>
            <div class="col-12">
                <div id="alertSesion"></div>
            </div>
            <div class="col-4 mx-auto p-2 mt-2 mb-2 bg-secondary">
                <form>
                    <div class="form-group">
                        <label for="usuario">Usuario:</label>
                        <input type="text" name="" id="usuario" class="form-control" placeholder="Nombre de usuario"
                            v-model="user.name">
                    </div>
                    <div class="form-group">
                        <label for="password">Contraseña:</label>
                        <input type="password" name="" id="password" class="form-control" placeholder="Contraseña"
                            v-model="user.password">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-block btn-success" type="button" @click="login()">Ingresar</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">
                    Launch static backdrop modal
                </button>
            </div>
        </div>
    </div>



    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="table-scroll">
                        <!-- Fixed header table-->
                        <div class="table-responsive">
                            <table class="table table-fixed">
                                <thead>
                                    <tr>
                                        <th scope=" " class=" ">#</th>
                                        <th scope=" " class=" ">First</th>
                                        <th scope=" " class=" ">Last</th>
                                        <th scope=" " class=" ">Handle</th>
    
                                        <th scope=" " class=" ">#</th>
                                        <th scope=" " class=" ">First</th>
                                        <th scope=" " class=" ">Last</th>
                                        <th scope=" " class=" ">Handle</th>
                                        
                                        <th scope=" " class=" ">#</th>
                                        <th scope=" " class=" ">First</th>
                                        <th scope=" " class=" ">Last</th>
                                        <th scope=" " class=" ">Handle</th>
                                        
                                        <th scope=" " class=" ">#</th>
                                        <th scope=" " class=" ">First</th>
                                        <th scope=" " class=" ">Last</th>
                                        <th scope=" " class=" ">Handle</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
    
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
                                        
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
    
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
    
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
                                        
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
    
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
    
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
                                        
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
    
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
    
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
                                        
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
    
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
    
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
                                        
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
    
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
    
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
                                        
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
    
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
    
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
                                        
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
    
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
    
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
                                        
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
    
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
    
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
                                        
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
    
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
    
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
                                        
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
    
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
    
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
                                        
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
    
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
    
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
                                        
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
    
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
    
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
                                        
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
    
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
    
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
                                        
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
    
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
    
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
                                        
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
    
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
    
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
                                        
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
    
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
    
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
                                        
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
    
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
    
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
                                        
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
    
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
    
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
                                        
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
    
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
    
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
                                        
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
    
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
    
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
                                        
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
    
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
    
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
                                        
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
    
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
    
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
                                        
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
    
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
    
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
                                        
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
    
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
    
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
                                        
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
    
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
    
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
                                        
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
    
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
    
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
                                        
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
    
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
    
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
                                        
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
    
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
    
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
                                        
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
    
                                        <th scope="row" class=" ">1</th>
                                        <td class=" ">Mark</td>
                                        <td class=" ">Otto</td>
                                        <td class=" ">@mdo</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div><!-- End -->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Understood</button>
                </div>
            </div>
        </div>
    </div>

    <script src="/src/js/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- production version, optimized for size and speed -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->

    <!-- Axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- mi app en vue -->
    <script src="vue.js"></script>
</body>

</html>