<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    
    <div class="container" id="app">
        <div class="row pt-3">
            <div class="col-12">
                <h3 class="text-center">{{ title }}</h3>
            </div>
        </div>

        <!-- response -->
        <div class="row pt-3">
            <div class="col-10 mx-auto" id="alert-setting">
            </div>
        </div>

        <div class="row pt-5">
            <div class="col-md-6">
                <label for="">Porcentaje de Ganancia Aros (%)</label>
                <div class="input-group">
                    <input type="number" class="form-control" id="ganancia-aros" min="0" step="0.01" v-model.number="porcentajeGananciaAros" aria-describedby="ganancia-addon" disabled>
                    <div class="input-group-append">
                        <button class="btn btn-outline-info" type="button" id="ganancia-addon" @click="modificar('ganancia-aros')">Modificar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="">Costo de Mano Obra Aros ($)</label>
                    <div class="input-group">
                        <input type="number" class="form-control" id="precioHoraAros" min="0" step="0.01" v-model.number="precioHoraAros" aria-describedby="horas-addon" disabled>
                        <div class="input-group-append">
                            <button class="btn btn-outline-info" type="button" id="horas-addon" @click="modificar('precioHoraAros')">Modificar</button>
                        </div>
                    </div>
                    <small class="text-muted">Costo por minuto de trabajo</small>
                </div>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-md-6">
                <label for="">Porcentaje de Ganancia Collares (%)</label>
                <div class="input-group">
                    <input type="number" class="form-control" id="ganancia-collares" min="0" step="0.01" v-model.number="porcentajeGananciaCollares" aria-describedby="ganancia-addon" disabled>
                    <div class="input-group-append">
                        <button class="btn btn-outline-info" type="button" id="ganancia-addon" @click="modificar('ganancia-collares')">Modificar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="">Costo de Mano Obra Collares ($)</label>
                    <div class="input-group">
                        <input type="number" class="form-control" id="precioHoraCollares" min="0" step="0.01" v-model.number="precioHoraCollares" aria-describedby="horas-addon" disabled>
                        <div class="input-group-append">
                            <button class="btn btn-outline-info" type="button" id="horas-addon" @click="modificar('precioHoraCollares')">Modificar</button>
                        </div>
                    </div>
                    <small class="text-muted">Costo por minuto de trabajo</small>
                </div>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-md-6">
                <label for="">Porcentaje de Ganancia Pulseras (%)</label>
                <div class="input-group">
                    <input type="number" class="form-control" id="ganancia-pulseras" min="0" step="0.01" v-model.number="porcentajeGananciaPulseras" aria-describedby="ganancia-addon" disabled>
                    <div class="input-group-append">
                        <button class="btn btn-outline-info" type="button" id="ganancia-addon" @click="modificar('ganancia-pulseras')">Modificar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="">Costo de Mano Obra Pulseras($)</label>
                    <div class="input-group">
                        <input type="number" class="form-control" id="precioHoraPulseras" min="0" step="0.01" v-model.number="precioHoraPulseras" aria-describedby="horas-addon" disabled>
                        <div class="input-group-append">
                            <button class="btn btn-outline-info" type="button" id="horas-addon" @click="modificar('precioHoraPulseras')">Modificar</button>
                        </div>
                    </div>
                    <small class="text-muted">Costo por minuto de trabajo</small>
                </div>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-md-6">
                <button class="btn btn-success" @click="guardarConf">Guardar</button>
            </div>
        </div>
    </div>

    <script src="view/setting/app-vue.js"></script>
</body>
</html>